:root{
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
}

*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-oxford-blue);
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.title{
    color: cyan;
    font-size: 1.4rem;
}

.items{
    display: flex;
    justify-content: space-around;

}

.items > a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    transition: .2s;
}

.items > a:hover{
    color: cyan;
}



/* intro  */

.intro{
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
}

.top-left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2vw;
    animation-name: leftAnim ;
    animation-duration: 1s;
}

@keyframes leftAnim {
    from{
        transform: translateX(-30vw);
        opacity: 10%;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}

.top-left h1{
    font-size: 60px;
    margin-bottom: 0;
}

.color{
    color: #38cc77;
}

.top-left p{
    font-size: 20px;
}

.top-right{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rAnim ;
    animation-duration: 1s;
}

@keyframes rAnim {
    from{
        transform: translateX(30vw);
        opacity: 10%;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}

.top-right img{
    max-height: 100%;
    max-width: 100%;
    transition: filter 0.3s ease-in-out;
}

#proP:hover{
    filter: drop-shadow(0 0 13px hsla(199, 89%, 49%, 1));
}

.glowing {
    filter: drop-shadow(0 0 13px hsla(199, 89%, 49%, 1));
}

@media (max-width : 900px) {
    .intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .top-right{
        width: 100%;
        height: 40%;
    }
    .top-left{
        width: 80%;
        height: 60%;
    }
    .top-left h1{
        font-size: 40px;
        margin-bottom: 0;
    }
}